.article > div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  color: #000;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.preview {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 100%;
  object-fit: cover;

  @media (min-width: 768px) {
    float: left;
    max-width: 350px;
    max-height: 350px;
  }
}

.image {
  width: min(100%, 924px);
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    height: 616px;
  }
}

.content {
  padding: 20px 30px;

  & * {
    color: #212121;
  }

  h3 {
    font-size: 16px;
    line-height: 1.1;
    margin: 24px 0 0;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 12px;

    @media (min-width: 768px) {
      margin-top: 25px;
    }
  }

  ul {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  li::before {
    width: 5px;
    height: 5px;
    background: #004b80;
    content: ' ';
    display: inline-block;
    margin-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
    line-height: inherit;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  p {
    margin-bottom: 15px;
    line-height: 24px;
  }
}