button {
  font-family: inherit;

  background: none;
  border: none;

  cursor: pointer;

  user-select: none;
}

h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
}

textarea {
  font-family: inherit;

  color: inherit;

  resize: none;

  background: none;

  border: none;
  outline: none;
}

table, th, td, tbody, thead, tr {
  margin: 0;
  padding: 0;

  border: none;

  border-spacing: 0;

  border-collapse: collapse;

  vertical-align: top;

  text-align: left;
}

table {
  width: 100%;

  max-width: 100%;

  background-color: transparent;
}

th {
  text-align: left;

  font-weight: bold;
}

/* Скрываем стрелки в числовом инпуте для всех браузеров */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


